
.row{
    display: block;
    margin: 0 auto;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{ 
    background: #fafafa;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 0;
    display: block;
    margin: 0 auto;
}

.container_header{
    border-bottom: 1px solid #eeeeee;
    padding: 1rem;
    /* label{
        cursor: pointer;
        font-size: 1rem;
    };
    > :last-child {
        align-items: center;
        display: flex;
    } */
}
.container_header .search input{
    width: 100%;
    border-radius: 4px;
    height: 35px;
}

.container_header .show {
    margin-top: 12px;
}
.container_footer{
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid #eeeeee;
}
.container_footer input {
    width: 100%;
    border-radius: 4px;
    height: 35px;
    margin-bottom: 12px;
}

.container_footer button {
    width: 100%;
    /* background: #6ab4ef;
    height: 35px; */
}

.container_message{
    color: #aaa;
    margin: 2rem auto;
    text-align: center;
}